services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: schedule
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test123
    ports:
      - "5435:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: